@import '../../src/assets/styles/my-theme.scss';  //  <-- the theme file shown above

mat-sidenav-content {
  min-height: 100vh;
}

mat-sidenav {
  max-width: 280px;
  background-color:  mat-color($my-primary-color, 500) !important
}

.logo {
  padding: 0 24px;
  background-color: rbg(30, 33, 41);
  color: hsla(0, 0%, 100%, 0.7) !important;
  min-height: 64px;
}

.logo h3 {
  padding: 0;
  margin: 0;
  line-height: 64px;
}
